{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>    
    <script src="https://cdn.jsdelivr.net/npm/matter-js@0.19.0/build/matter.min.js"></script>    
    <title>Pendulum</title>
</head>
<body>
    {% include 'navbar.html' %}
    <main class="container mx-auto p-4">
        {% block content %}
        <!-- Main content will go here -->
        {% endblock %}
    </main>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/pendulum.js' %}"></script>
</body>
</html>
